# Dirs
logs/
build/
dist/
data/

# Typescript
*.tsbuildinfo

# Coverage
coverage/

# API keys and secrets
.env
*.pem

# Dependency
node_modules

# Lint
.eslintcache 

# Misc
.DS_Store
*.log
*.swp

# Editor
.vscode/*